button {
  background: #debff4;
  color: white;
  /* padding: 10px; */
  border: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* margin-top: 20px; */
  width: 70px;
  height: 30px;
  font-size: 15px;
}

button:hover {
  background: #8b48d7;
}


