<div class="container-fluid">
  <div class="row">
    <div
      class="col-sm-auto custom-bg flex-row flex-nowrap align-items-center col-sm min-vh-100 rounded-3 test">
      <a href="/" class="d-block link-light " style="justify-content: center; align-items: center; margin-top: 300px;">
        <img width="80%" src="assets/images/notifications.png" alt="" />
      </a>
      <a href="/" class="d-block link-light " style="justify-content: center; align-items: center; margin-top: 150px;">
        <img width="80%" src="assets/images/dashboard.png" alt="" />
      </a>
    </div>
  </div>
</div>
