
.custom-bg { background-color: #d9dae4; /* Custom color */ }
.logo{
  margin-bottom: 140px;
  margin-top: 20px;
}
.logout{
  margin-top: 100px;
}
img{
  margin-bottom: 20px;
}
.notification{
margin-bottom: 170px;
}