<div class="d-flex">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search for a city" />
  <button (click)="onSearch()">Search</button>

  <!-- <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> -->

</div>

  <div *ngIf="cityWeather" class="city-card">
    <h2>{{ cityWeather.city }}</h2>
    <p>Date: {{ cityWeather.forecast[0].date }}</p>
    <p>Temperature: {{ cityWeather.forecast[0].temperatureCelsius }} °C</p>
    <p>Humidity: {{ cityWeather.forecast[0].humidity }} %</p>
   
</div>